/* [ON BIG SCREEN] */
/* Wrapper */
#navbar {
  width: 100%;
  background: teal;
  top: 0;
  font-size:1.5vw;

}
#navbar-left {
  display:left;

}

#navbar-right {
  display:right;

}


/* Hide Hamburger */
#navbar label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems { display: flex; }
#hamitems-right{
  text-align: right;
  display: right;
}
#hamitems a {
  width: 20%; /* 100% / 5 tabs = 20% */
  padding: 10px;
  color: white;
  text-decoration: none;

}

#hamitems a:hover {
  background: gray;
  width: 100%;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger Icon */
  #navbar label { 
    display: inline-block; 
    color: white;
    background: teal;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: left;
    font-size:1.5vw;
  }

  /* Toggle Show/Hide Menu */
  #hamitems { display: none; }
  #navbar input:checked ~ #hamitems { display: block; }
}

.dropbtn {
  background-color: teal;
  color: white;
  padding: 16px;
  font-size: 16px;

  }

  .dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    color: teal;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
    font-size:1vw;

}

.dropdown-content a {
  color: teal;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
.dropdown-content a:hover {background-color: white; }
.dropdown:hover .dropdown-content {display: block; }
.dropdown:hover .dropbtn {background-color: grey;}

    body {
      background-color: gainsboro;
    }
    img {
    float: center;
    height: 75%;
    width: 75%;
    }

    .container1 {
      width: 45%;
      background-color: white;
      margin-left: 200px;
      margin-top: 50px;
    }
    .container2 {
      float:left;
      justify-content: center;
      width: 75%;
      background-color: white;
      margin-top: 3%;
      margin-left: 10%;
      display:
    }
    @media (max-width: 1250px) {
    .container2{
        width:75%;
    }
}

@media (mid-width: 992px) {
    .my-custom-container{
        width:720px;
    }
}

@media (min-width: 800px) {
    .my-custom-container{
        width:600px;
    }
}
    h1 {
      color:#45B39D;
      font-family: Arial, Helvetica, sans-serif;
      font: bold;
      border-bottom: 1vw solid lightgray;
      margin: 10px 10px 10px 10px;
    }
    h2 {
      color:#45B39D;
      font-family: Arial, Helvetica, sans-serif;
      font: bold;
      font-size: 2vw;
      border-bottom: 1px solid lightgray;
      margin: 10px 10px 10px 10px;
    }
    h3 {
      color:#45B39D;
      font-family: 'Times New Roman', Times, serif;
      font-weight:bold;
      font-size: 1.2vw;
      text-align: center;
      margin: 50px 155px 0 0;
    }
    p {
      color: #0E6655;
      font-family: Arial, Helvetica, sans-serif;
      margin: 4px 16px 0 16px;
      text-align: justify;
      font-size: 1vw;
    }
